@import url(reset.css);

.fb-bp {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(168,49,45,0.5);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	display: none;
	pointer-events: none;
}

.fb-bp:target {
	display: block;
	pointer-events: auto;
}

.fb-bp > div {
	min-width: 310px;
    max-width: 520px;
	position: relative;
	margin: 4% auto;
	padding: 5px 20px 13px 20px;
	background: #fff;
}



